
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #232427;
}


body h1 {
  margin: 30px;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}
body h4{
    color: #87cefa;
    text-align: center;
}
body .container .card .box {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width:100% ;
margin: 40px 0;
}
body .container .card .box .content{
  width: 20%;
  height:200px ;
  padding: 15px;
  text-align: center;
  position: relative;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
  inset -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.3),
  -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  overflow: hidden;
}


body .container .card .box .content ul li{
  list-style: none;
  background-image: linear-gradient(to right,#f7c374, #666631);
  border-radius: 10px 0 10px 0;
  margin: 5px;
}
body .container .card .box .content .content-cotainer{
position: absolute;
padding: 15px;
top: 20px;
left: 20px;
right: 20px;
bottom: 20px;
background: #2a2b2f;
border-radius: 15px;
justify-content: center;
align-items: center;
overflow: hidden;
-ms-overflow-style: none;/* for Internet Explorer, Edge */
scrollbar-width: none;/* for Firefox */
overflow-y: scroll;
transition: 0.5s;
}
body .container .card .box .content .content-cotainer::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

body .container .card .box .content .content-cotainer:hover {
  transform: translateY(-15px);
}


body .container .card .box .content .content-cotainer h3{
  font-size: 24px;
  margin-bottom: 10px;
  color: #87cefa;
}
p{
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
@media screen and (max-width:1024px){
body .container .card .box .content {
  width: 27%;
  height: 250px;
}
}
@media screen and (max-width:912px) {
  body .container .card .box .content {
    width: 40%;
    height: 300px;
  }
}
@media screen and (max-width:540px) {
  body .container .card .box .content {
    width: 80%;
    height: 300px;
  }
}